@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300&display=swap");

.body {
  background-color: #f2f2f2;
}
.adm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.listadm {
  width: 100%;
  height: 25px;
}

.useradm {
  width: 100%;
  height: 25px;
}

.adm-title {
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #31312b;
}
.adm-content {
  display: flex;
  flex: 1;
  width: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  gap: 30px;

}
.adm-content-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.adm-content-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.adm-content-right div {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

input {
  padding: 5px 15px;
  width: 100%;
  height: 40px;
  

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
}

.descricao {
  height: 120px;
}

.btn-cadastrar-produto {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #0583F2;
  color: #FFF;
  border: none;
}