.produto-page-content {
    margin-top: 119px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.produto-description{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.produto-description-image {
    width: 40%;
    height: auto;
}

.produto-description-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 400px
}

.caption-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
}

.produto-description-form {
    margin-top: auto;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.botao-comprar {
    width: 100%;
}

.produto-mais-info {
    display: flex;
    flex-direction: column;
}

.green {
    color: #59C00B;
}

@media screen  and (max-width: 768px) {
    .produto-description{
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
    }
    .produto-description-image {
        width: 95%;
        height: auto;
    }

    .produto-description-content {
        gap: 12px;
    }
    .produto-mais-info-title {
        text-align: center;
    }
}
    