.produto-page-content {
    margin-top: 119px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.produto-description{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.produto-description-image {
    width: 40%;
    height: auto;
}

.produto-description-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 400px
}

.caption-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 500;
}

.produto-description-form {
    margin-top: auto;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.botao-comprar {
    width: 100%;
}

.produto-mais-info {
    display: flex;
    flex-direction: column;
}

.green {
    color: #59C00B;
}